<div ng-controller="AuthCtrl">
<div ng-include="'partials/nav.html'" ng-controller="NavCtrl"></div>

<div id="content">
    <div class="page_wrapper page_section">
    
    <div class="wrapper">
        <div class="index_content md-whiteframe-z1" id="page_content">
            <div class="index_subsection" >
                <div class="index_maintitle">
                   <h1>聯絡我們</h1>
                </div>
                <p>網站使用詢問、錯誤回報、機制建議，請聯絡：<a class="link" href="mailto:info@watchout.tw">info@watchout.tw</a></p>
                <p>合作建議，請聯絡：<a class="link" href="mailto:zuyi.lin@watchout.tw">zuyi.lin@watchout.tw</a></p>
            </div>
        </div>
    </div><!-- end of warpper -->
    <div ng-include="'partials/footer.html'"></div>

</div><!-- end of content -->

</div><!-- end of auth -->
