<div ng-controller="AuthCtrl">
<div ng-include="'partials/nav.html'" ng-controller="NavCtrl"></div>

<div id="content">
    <div class="page_wrapper page_section">
    
    <div class="wrapper">
        <div class="index_content md-whiteframe-z1">
            <div class="index_subsection">
                <div class="index_maintitle">
                   <h1>沃草寫作班：「市長，給問嗎」發問指南</h1>
                </div>
                <a href="http://goo.gl/YvS1u8" target="_new">◎ 沃草公民學院</a>
                <!-- https://www.facebook.com/citizenedu -->
                <!-- http://goo.gl/#analytics/goo.gl/YvS1u8/all_time -->
                <p>你想問市長問題，但是不知道該如何著手嗎？你已經送出了問題，但響應人數成長緩慢嗎？今天阿草要來教大家，到底要怎樣，才能問出可愛又精準的好問題喔！</p>
            </div>
            <div class="index_subsection">
                <div class="index_title">你「問」的真的是個「問題」嗎？</div>
                <div class="l_center"><img class="article_img" src="images/how-to-ask-1.png"></div>
                <div class="bad_example">(X) 基於XX和OO，松菸不該把樹砍掉。</div>
                <div class="good_example">(O) 有種說法認為，基於XX和OO，松菸不該把樹砍掉，請問你是否覺得XX和OO是反對松菸砍樹的好理由？</div>

                <p>身為關心市政的人，除了問題之外，你很可能有更多想法想要跟候選人討論。例如，你可能認為松菸砍樹的行為完全沒有道理，並且已經準備好五大理由來支持這樣的立場。然而，「市長，給問嗎？」的設計，是藉由問問題來讓人民和候選人瞭解彼此的想法。若你發問區僅僅丟上自己的申論，不但會有點奇怪，而且也難以獲得「這個問題真的該問」的支持，因為你不是在問問題。</p>

                <p>然而，這就代表你完全無法在「市長，給問嗎？」使用你反對松菸砍樹的五大理由，來跟候選人們溝通嗎？如果是這樣的話，好像就太可惜了。為了避免這種遺憾，阿草建議大家，可以把自己支持或反對某立場的理由和申論，改寫成問題形式。</p>

                <p>例如，你可能真心認為「基於XX和OO，松菸不該把樹砍掉」。但如果直接把這串文字拿去投稿「市長，給問嗎？」，可能會因為它不是問題而落選。然而，當你把文字改寫成</p>

                <div class="quote"><p>有種說法認為，基於XX和OO，松菸不該把樹砍掉，請問你是否覺得XX和OO是反對松菸砍樹的好理由？</p></div>

                <p>這不但進一步凸顯了你的質疑，也讓「市長，給問嗎？」的交流格式更一致，而且更重要的是，如此論點明確的質疑，說不定很快就會出現在網友連署成功、等待候選人回答的清單上囉！</p>
            </div>
            <div class="index_subsection">
                <div class="index_title">封閉配開放，官腔更難打</div>
                <div class="bad_example">(X) 你對同性婚姻有什麼看法？</div>
                <div class="good_example">(O) 你是否認為人應該要有和同性結婚的權利？為什麼？</div>

                <p>阿草最討厭的東西之一，就是言不及義、答非所問的官腔了。好在，有一些問問題的技巧，就算無法完全避免政治人物迴避你的問題，起碼也可以讓他們的閃躲變得非常明顯。</p>

                <p>當你真的非常想要知道候選人的立場，你可以使用封閉式的問題，例如「你是否支持__？」，或者「關於__，你的立場是A、B還是C」。封閉性問題提供的有限選項，讓答題的人似乎有義務非得在裡面選一個不可，在這種情況下，他們自然也就難以答非所問，因為如果他們沒有乾淨利落地選一個，那真的是會明顯到連阿草都一眼就看得出來啊！</p>

                <p>當然，我們不單單想要知道候選人支持的立場，也想要知道他們支持這如此立場的理由。在這種情況下，我們需要的就不僅僅是封閉式的問題，而是封閉和開放兼具的複合問句，例如：「你是否支持__？為什麼？」</p>

                <p>此外，別忘了，前面提到的發問技巧，在這裡也可以綜合運用。當你另外也想要知道候選人對某些跟你的問題有關的意見會有怎樣的回應時，你也可以把問題寫成類似：「你是否支持__？為什麼？有些人認為__，你是否覺得這是__的好理由？為什麼？」</p>
            </div>
            <div class="index_subsection">
                <div class="index_title">避免歧義才能減少困惑</div>
                <div class="l_center"><img class="article_img" src="images/how-to-ask-2.png"></div>

                <div class="bad_example">(X) 可以在台北市種看得見四季的植栽嗎？</div>
                <div class="good_example">(O) 可以在台北市種四季都看得見的植栽嗎？</div>
                <div class="good_example">(O) 可以在台北市種四季都有不同面貌，一看就知道是什麼季節的植栽嗎？</div>

                <p>阿草雖然只是隻偶蹄目駱駝科動物，但也深深瞭解語言的奧妙：同樣一句話，在不同的解讀下，可能會有好幾種意思。這個特色在一些情況下可以拿來搞笑或營造美感，但是當我們進行溝通時，卻可能搖身一變成為阻礙。如果你想要候選人確切回答你的問題，就必須先把問題描述好，減少它被誤解成另一種意思的機會。阿草最近在「市長，給問嗎？」有看到一個問題，是阿草（身為草食性哺乳類）非常關心的綠化議題：</p>

                <div class="quote"><p>可以在台北市種看得見四季的植栽嗎？</p></div>

                <p>然而可惜的是，這個問題寫得沒有很完整，所以我們有點難確認它到底是在問哪一個問題：</p>

                <div class="quote"><p>a. 可以在台北市種四季都看得見的植栽嗎？<br/>b. 可以在台北市種四季都有不同面貌，一看就知道是什麼季節的植栽嗎？</p></div>

                <p>如果當初提供問題的朋友，可以多花一點時間描述清楚，那麼，想要問類似問題的人，就更容易判斷自己要不要參加連署，而在連署成功之後，候選人也會更不容易閃躲囉！</p>  
            </div>
            <div class="index_subsection">
                <div class="index_title">標題用問句，議題一目瞭然</div>
                <div class="bad_example">(X) 對「老年照護」看法</div>
                <div class="good_example">(O) 現行北市老年照護計畫充滿缺失，你有沒有補助方案？</div>

                <p>當年阿草在念書的時候，有次交報告給老師。老師看了眉頭一皺，跟阿草說：「問題意識是很重要的，你有沒有問題意識呢？」阿草當下就震驚了。</p>

                <p>所謂「問題意識」，關係的是寫作者主要關切的問題核心，這會讓寫作者決定如何鋪陳脈絡、指出問題、整理論述。在「市長，給問嗎？」裡面，問題意識也是很重要的，如果沒有先清楚問題意識，我們會不知道問題該怎麼問，也不知道該附上怎樣的參考資料。而想回答問題的市長候選人，也要先弄懂你的問題所在，才能決定要怎麼回答問題。</p>

                <p>所以阿草極力推薦「標題用問句」的手法，因為這可以讓你的問題核心一下子就被看到，並且讓一些同樣關切的市民按下「我也要發問」！</p>

                <p>此外，為了讓所有小市民的問題能夠被看到，阿草會把所有的問題條列出來。市民可以在條列的問題列表裡，去尋找與連署自己有興趣的議題。在問題列表裡，如果你的標題用問句，表達清楚的問題與議題，就更容易吸引同樣關心這個議題的朋友喔。</p>
            </div>
            <div class="index_subsection">
                <div class="index_title">附上背景：有脈絡，讓你我不寂寞</div>
                <p>有些問題其實是好問題，也是大家在意的問題，但是，如果是因為問題沒有說明清楚，而讓問題沒有被注意到、或是沒有被其他市民當成是「自己也關心的問題」，那是一件多可惜的事啊！</p>

                <p>我們可以想想，要理解一個問題需要什麼呢？</p>

                <div class="bad_example">(X) 你覺得台北的都市該如何均衡發展？BJ4。</div>
                <div class="good_example">(O) 你覺得台北的都市該如何均衡發展？這10年，台北的OO區的<span class="article_highlight">平均薪資</span>是oo，而XX區已經來到xx，這個嚴重的差距顯示了台北各區的發展差異已經不可忽視。你覺得台北的<span class="article_highlight">都市政策</span>該如何進行，才能<span class="article_highlight">往均衡發展的理想邁進</span>？</div>

                <p>下面這一個問題，除了把期待的問題回答方向說得更具體，也凸顯了這個問題的前提：「平均薪資是均衡發展的一種指標。」這樣的作法，因為寫得更完整、背景更具體豐富，也讓人因此更了解了「你覺得台北的都市該如何均衡發展？」的清楚內涵。</p>

                <p>或者你的問題的前提，可能是有些人有意見的。但其實，這反而有助於進行公共討論，並且同時將你的問題釐得更清楚，甚至達到造成熱議的效果喔！</p>
            </div>
            <div class="index_subsection">
                <div class="index_title">自己問題自己推！</div>
                <div class="l_center"><img class="article_img" src="images/how-to-ask-3.png"></div>

                <p>剛剛阿草講了許多經驗談，都是關於內容方面的寫作小技巧。在最後，阿草要來談談技術性問題。</p>

               <p>阿草很認真讀過一個又一個問題，發現其實有很多有趣的問題。但是，有些小地方阿草想要特別提醒一下：

               <ol><li>發出前校稿一下，避免錯字或手誤（阿草都用 g0v 「萌典」：<a href="https://www.moedict.tw/" target="_new">https://www.moedict.tw/</a>）。</li>
               <li>使用全形的標點符號：像是使用「，」，而不要使用「, 」，使用「。」，而不要使用「. 」，這樣可以讓其他人讀起來更舒服。</li>
               <li>該換行的時候，要換行；該換段的時候，要換段。讓人更清楚你的問題的結構。</li></ol></p>

               <p>最後，有些人可能會注意到「市長，給問嗎？」的每一個問題，都有獨立網址、也有社群網站 Facebook 的分享按鈕。因此，阿草也強烈建議：在問題寫完以後，可以配上一兩句宣傳或說明，貼到 Facebook 頁面，或者 PTT 相關討論區，或是請好友很多的強者你朋友協助轉貼，當你的問題曝光越多，甚至引起熱議，自然就不會有被忽略的問題啦！</p>

               <p>阿草希望大家都能在「市長，給問嗎？」上面問得開心，眼看自己問的問題被轟轟烈烈推爆！</p>
               <div class="l_center"><img class="article_img" src="images/how-to-ask-4.png"></div>
            </div>
        </div>
        <div class="l_center"><h2>開始發問</h2></div>
        <div class="l_center">
                <div ng-repeat="c in candidates" class="index_c_item md-whiteframe-z1" ng-click="go('policy/'+c.id)">
                    <img ng-src="images/candidates/{{c.id}}.jpg">
                    <div class="index_c_item_name">{{c.name}}</div>
                </div>
        </div>
    </div><!-- end of warpper -->
    <div ng-include="'partials/footer.html'"></div>

</div><!-- end of content -->

</div><!-- end of auth -->
