<div ng-controller="AuthCtrl">
<div ng-include="'partials/nav.html'" ng-controller="NavCtrl"></div>

<div id="content">
    <div class="page_wrapper page_section">
    
    <div class="wrapper">
        <div class="index_content md-whiteframe-z1">
            <div class="index_subsection">
                <div class="index_maintitle">
                   <h1>使用條款</h1>
                </div>
                <h4>1. 認知與接受條款</h4>
                <p>沃草有限公司係依據本服務條款提供「市長給問嗎! 最後一役」網站 （以下簡稱「本服務」）。當您使用本服務時，即表示您已閱讀、瞭解並同意接受本約定書之所有內容。沃草有限公司有權於任何時間修改或變更本約定書之內容，建議您隨時注意該等修改或變更。您於任何修改或變更後繼續使用本服務，視為您已閱讀、瞭解並同意接受該等修改或變更。如果您不同意本約定書的內容，或者您所屬的國家或地域排除本約定書內容之全部或一部時，您應立即停止使用本服務。</p>

                <p>若您為未滿二十歲，除應符合上述規定外，並應於您的家長（或監護人）閱讀、瞭解並同意本約定書之所有內容及其後修改變更後，方得使用或繼續使用本服務。當您使用或繼續使用本服務，即表示您的家長（或監護人）已閱讀、瞭解並同意接受本約定書之所有內容及其後修改變更。</p>

                <h4>2. 與第三人網站的連結</h4>

                <p>本服務或協力廠商可能會提供連結至其他網站或網路資源的連結。您可能會因此連結至其他業者經營的網站，但不表示沃草有限公司與該等業者有任何關係。其他業者經營的網站均由各該業者自行負責，不屬沃草有限公司控制及負責範圍之內。沃草有限公司對任何檢索結果或外部連結，不擔保其合適性、可依賴性、即時性、有效性、正確性及完整性。您也許會檢索或連結到一些令您厭惡或不需要的網站，這是網際網路運作的可能結果，遇到此類情形時，沃草有限公司建議您不要瀏覽或儘速離開該等網站。您並同意沃草有限公司無須為您連結至非屬於沃草有限公司之網站所生之任何損害，負損害賠償之責任。</p>

                <h4>3. 您的註冊義務</h4>

                <p>為了能使用本服務，您同意以下事項：(1) 依本服務註冊表之提示提供您本人正確、最新及完整的資料，(2) 維持並更新您個人資料，確保其為正確、最新及完整。若您提供任何錯誤或不實的資料，沃草有限公司有權暫停或終止您的帳號，並拒絕您使用本服務之全部或一部。</p>

                <h4>4. 個人資料蒐集、處理及利用</h4>

                <p>為識別使用者與提供專案訂閱服務，本服務會蒐集使用者之電子信箱、居住地區、性別、生日、以及使用者於Facebook設定為公開之資訊。</p>
                <p>本服務會寄送平台電子報及使用者訂閱之專案更新至使用者登錄之信箱。</p>
                <p>本服務將就使用者資訊去個人化後進行數據統計與研究，以改善服務。</p>
                <p>本服務對於使用者、提案者或贊助者所取得之任何資訊，除上述使用範圍外，非經當事人同意、當事人自行公開或對行政、司法或他人法律程序之必要，否則本服務不會向任何其他對象分享您的個人資料。</p>
                <p>使用者可隨時在「帳號設定」中修改您登錄之使用者資料，或於接獲任何形式的聯絡時要求註銷所蒐集資料。</p>

                <h4>5. 會員帳號、密碼及安全</h4>

                <p>本服務利用facebook登入。維持您facebook之密碼及帳號的機密安全，是您的責任。利用該密碼及帳號所進行的一切行動，您將負完全的責任。</p>

                <p>您並同意以下事項：(1) 您的密碼或帳號遭到盜用或有其他任何安全問題發生時，您將立即通知沃草有限公司(2) 每次連線完畢，均結束您的帳號使用。</p>

                <h4>6. 兒童及青少年之保護</h4>

                <p>兒童及青少年上網已經成為無可避免之趨勢，使用網際網路獲取知識更可以培養子女的成熟度與競爭能力。然而網路上的確存有不適宜兒童及青少年接受的訊息，例如色情與暴力的訊息，兒童及青少年有可能因此受到心靈與肉體上的傷害。因此，為確保兒童及青少年使用網路的安全，並避免隱私權受到侵犯，家長（或監護人）應盡到下列義務：</p>

                <p>(1) 先檢閱各該網站是否有保護個人資料的隱私權政策，再決定是否同意提出相關的個人資料；並應持續叮嚀兒童及青少年不可洩漏自己或家人的任何資料（包括姓名、地址、電話、電子郵件信箱、照片、信用卡號等）給任何人。也不可以單獨接受網友的邀請或贈送禮物而與之見面。</p>

                <p>(2) 謹慎選擇合適網站供兒童及青少年瀏覽。未滿十二歲之兒童上網時，應全程在旁陪伴，十二歲以上未滿十八歲之青少年上網前亦應斟酌是否給予同意。</p>

                <h4>7. 使用者的守法義務及承諾</h4> 

                <p>您承諾絕不為任何非法目的或以任何非法方式使用本服務，並承諾遵守中華民國相關法規及一切使用網際網路之國際慣例。您若係中華民國以外之使用者，並同意遵守所屬國家或地域之法令。您同意並保證不得利用本服務從事侵害他人權益或違法之行為，包括但不限於：(1) 公布或傳送任何誹謗、侮辱、具威脅性、攻擊性、不雅、猥褻、不實、違反公共秩序或善良風俗或其他不法之文字、圖片或任何形式的檔案於本服務上；(2) 侵害他人名譽、隱私權、營業秘密、商標權、著作權、專利權、其他智慧財產權及其他權利； (3) 違反依法律或契約所應負之保密義務；(4) 冒用他人名義使用本服務；(5) 傳輸或散佈電腦病毒；(6) 從事不法交易行為或張貼虛假不實、引人犯罪之訊息；(7) 販賣槍枝、毒品、禁藥、盜版軟體或其他違禁物；(8) 提供賭博資訊或以任何方式引誘他人參與賭博；(9) 濫發廣告郵件； (10) 其他沃草有限公司有正當理由認為不適當之行為。</p> 

                <h4>8. 系統中斷或故障</h4> 

                <p>本服務有時可能會出現中斷或故障等現象，或許將造成您使用上的不便、資料喪失、錯誤、遭人篡改或其他經濟上損失等情形。您於使用本服務時宜自行採取防護措施。沃草有限公司對於您因使用（或無法使用）本服務而造成的損害，不負任何賠償責任。</p>

                <h4>9. 廣告</h4> 

                <p>您在本服務上瀏覽到的所有廣告內容、文字與圖片之說明、展示樣品或其他銷售資訊，均由各該廣告商、產品與服務的供應商所設計與提出。您對於廣告之正確性與可信度應自行斟酌與判斷。沃草有限公司僅接受委託予以刊登，不對前述廣告負擔保責任。</p> 

                <h4>10. 免責聲明</h4>

                <p>您明確了解並同意：沃草有限公司對本服務不提供任何明示或默示的擔保，包含但不限於商業適售性、特定目的之適用性及未侵害他人權利。沃草有限公司不保證以下事項：(1)本服務將符合您的需求，(2)本服務不受干擾、及時提供、安全可靠或免於出錯，(3)由本服務之使用而取得之結果為正確或可靠，及(4)您經由本服務購買或取得之任何產品、服務、資訊或其他資料將符合您的期望。</p> 

                <p>是否經由本服務之使用下載或取得任何資料應由您自行考量且自負風險，因前開任何資料之下載而導致您電腦系統之任何損壞或資料流失，您應負完全責任。 </p>

                <p>您自沃草有限公司或經由本服務取得之建議和資訊，無論其為書面或口頭，均不構成本服務之保證。</p>

                <h4>11. 會員行為</h4> 

                <p>由會員公開張貼或私下傳送的資訊、資料、文字、軟體、音樂、音訊、照片、圖形、視訊、信息或其他資料（以下簡稱「會員內容」），均由「會員內容」提供者自負責任。沃草有限公司無法控制經由本服務而張貼之「會員內容」，因此不保証其正確性、完整性或品質。您了解使用本服務時，可能會接觸到令人不快、不適當、令人厭惡之「會員內容」。在任何情況下，沃草有限公司均不為任何「會員內容」負責，包含但不限於任何錯誤或遺漏，以及經由本服務張貼、發送電子郵件或傳送而衍生之任何損失或損害。</p>

                <p>您了解沃草有限公司並未針對「會員內容」事先加以審查，但沃草有限公司有權（但無義務）依其自行之考量，拒絕或移除經由本服務提供之任何「會員內容」。在不限制前開規定之前提下，沃草有限公司及其指定人有權將違反本服務條款和令人厭惡之任何「會員內容」加以移除。您使用任何「會員內容」時，就前開「會員內容」之正確性、完整性或實用性之情形，您同意必須自行加以評估並承擔所有風險。 您了解並同意，沃草有限公司依據法律的要求，或基於以下目的之合理必要範圍內，認定必須將「會員內容」加以保存或揭露予政府機關、司法警察或未成年人之監護人時，得加以保存及揭露：(1)遵守法令或政府機關之要求律程序，(2)執行本服務條款，(3)回應任何侵害第三人權利之主張，或(4)保護沃草有限公司及其使用者及公眾之權利、財產或個人安全。</p>

                <h4>12. 您對沃草有限公司之授權</h4> 

                <p>若您無合法權利得授權他人使用、修改、重製、公開播送、改作、散布、發行、公開發表某資料，並將前述權利轉授權第三人，請勿擅自將該資料上載、傳送、輸入或提供至本服務。任何資料一經您上載、傳送、輸入或提供至本服務時，視為您已允許沃草有限公司可以基於公益或私益之目的，無條件使用、修改、重製、公開播送、改作、散布、發行、公開發表該等資料，並得將前述權利轉授權他人，您對此絕無異議。您並應保證沃草有限公司使用、修改、重製、公開播送、改作、散布、發行、公開發表、轉授權該等資料，不致侵害任何第三人之智慧財產權，否則應對沃草有限公司負損害賠償責任（包括但不限於訴訟費用及律師費用等）。 </p>

                <h4>13. 服務變更</h4> 

                <p>沃草有限公司保留於任何時點，不經通知隨時修改或暫時或永久停止繼續提供本服務（或其任一部分）的權利。您同意沃草有限公司對於您或是任何第三方對於任何修改、暫停或停止繼續提供本服務不負任何責任。</p>

                <h4>14. 終止</h4>

                <p>您同意沃草有限公司得依其判斷因任何理由，包含但不限於一定期間未使用、法院或政府機關命令、本服務無法繼續或服務內容實質變更、無法預期之技術或安全因素或問題、您所為詐欺或違法行為、未依約支付費用，或其他沃草有限公司認為您已經違反本服務條款的明文規定及精神，而終止或限制您使用帳號（或其任何部分）或本服務之使用，並將本服務內任何「會員內容」加以移除並刪除。您並同意沃草有限公司亦得依其自行之考量，於通知或未通知之情形下，隨時終止或限制您使用本服務或其任何部分。您承認並同意前開終止或限制，沃草有限公司得立即關閉、刪除或限制存取您的帳號及您帳號中全部或部分相關資料及檔案，及停止本服務全部或部分之使用。此外，您同意若本服務之使用被終止或限制時，沃草有限公司對您或任何第三人均不承擔責任。</p>

                <h4>15. 準據法與管轄法院</h4>

                <p>本服務條款之解釋與適用，以及與本服務條款有關的爭議，除法律另有規定者外，均應依照中華民國法律予以處理，並以台灣台北地方法院為第一審管轄法院。</p>
            </div>
        </div>
    </div><!-- end of warpper -->
    <div ng-include="'partials/footer.html'"></div>

</div><!-- end of content -->

</div><!-- end of auth -->
