<div ng-include="'partials/nav.html'"></div>

<div id="content">





<div class="wrapper">

    <div ng-repeat="p in policy" class="q_item" ng-class="{'md-whiteframe-z1':showQuestion(p.id),'q_item_active':showQuestion(p.id)}" >

          <div class="p_title" >
            {{p.title}}
            <div class="p_actionicon l_inline" ng-if="!showPolicy()"><i class="fa fa-angle-double-down"></i></div>
            <div class="p_actionicon l_inline" ng-if="showPolicy()"><i class="fa fa-angle-double-up"></i></div>

          </div>
          <div ng-class="{'p_preview':!showPolicy(),'p_preview_hide':showPolicy()}">{{p.content | htmlToPlaintext| limitTo:200}}{{(p.content | htmlToPlaintext).length>200?'...':''}}<span class="p_seeall" ng-click="togglePolicy()">看完整政見</span>
          </div>

          <div ng-class="{'p_fullcontent_hide':!showPolicy()}">
              <div ng-bind-html="toTrusted(p.content)"></div>

          </div>
          <div class="l_center"><span class="p_seeall" ng-click="togglePolicy()" ng-if="showPolicy()"><i class="fa fa-angle-double-up"></i> 摺疊</span></div>

     </div>


</div>
</div>
