@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

body {
  /* font-family: "Open Sans","Helvetica Neue", "Helvetica", "Arial", sans-serif; */
  font-family: "Source Han Sans TC", "Noto Sans", Helvetica, Arial, sans-serif;
  background: rgb;
  margin: 0px;
  padding: 0px;
  text-rendering: optimizeLegibility;
  min-width: 320px;
  background: rgb(236,236,236);
  color: rgb(55,53,54);
  font-size: 16px;
  
}
a {
  text-decoration: none;
  color: rgb(0,191,198);
}
@media screen and (min-width: 1000px){
  .wrapper{
     width: 1000px;
  }
  .nav{
    max-width:1000px;
    margin:0 auto;
  }
}
@media screen and (max-width: 1000px){
  .nav{
     width: 100%;
  }
}
@media (max-width: 400px){
  .wrapper{
     width: 100%;
  }
  .nav{
     width: 100%;
  }
}
.page_wrapper {
  height: 100%;
}
.wrapper {
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  padding:8px;
  box-sizing: border-box;
  position: relative;
  /* background: rgb(236,236,236);*/

}
#content {
	margin-top: 50px;
}
#page_content {
  min-height: 600px;
}
hr {
  border: 0;
  height: 1px;
  background: rgb(220,220,220);
}
/* ------------------------------------------------------------ */
/* footer
/* ------------------------------------------------------------ */
#footer {
  margin: 0px;
  padding: 5px;
  margin-top: 50px;
  background: #E0E0E0;
  width: 100%;

}
#footer ul {
  margin: 0px;
  padding: 0px;
  margin-top: 5px;
}
.footer_link {
  text-align: center;
  margin-bottom: 30px;
}
.footer_logo {
  width: 100%;
  text-align: center;
}
.footer_text {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  margin: 0px;
  text-align: center;
}
.footer_text a, .footer_text a:visited {
  
  color: #757575;
}
.footer_img {
  display: inline-block;
  vertical-align: middle;
  margin: 0px 10px;
}
.footer_img img {
  width: 100px;
}
#footer_apple {
  padding-bottom: 14px;
}
#footer_watchout {
  width: 110px;
}
@media screen and (max-width: 400px){
  .footer_img {
    margin: 0px 5px;
  }
}

/* ------------------------------------------------------------ */
/* material test
/* ------------------------------------------------------------ */

header {
  z-index: 100;
  background: #009688;
  color: white;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0px;
  box-sizing: border-box;
  padding: 6px;

}
.fs {
  background: #4DB6AC;
  border: none;
  box-sizing: border-box;
  color: #fff;
  font-size: 1.2em;
  height: 36px;
  width: 180px;
  border-radius: 5px;
  padding-left: 10px;
  margin-right: 10px;
}
input{
  outline: none;
}

.l_inline {
  display: inline-block;
}
.l_center {
  text-align: center;
}
.l_left {
  text-align: left;
}
.v_top {
  vertical-align: top;
}

/* ------------------------------------------------------------ */
/* question
/* ------------------------------------------------------------ */

.q_title{
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;

  width: 100%;
  overflow: hidden;

  text-align: left;
  background: white;
  padding-top: 6px;
  cursor: pointer;

  font-size: 16px;
  font-weight: 700;

  /* used for functional buttons */
  /* padding-right: 60px; */
  
}
.q_function {
  display: none;
}
.q_item:hover .q_function{
  display: inline-block;
  z-index: 99;

}
.q_function_sign {
  position: absolute;
  right: 30px;
  font-size: 16px;
}
.q_function_signed {
  color: #009688;
}
.q_function_unsigned {
  color: #E0E0E0;
}
@media screen and (max-width: 400px){
  .q_function_signed {
    display: none;
  }
}

.q_order {
  font-weight: 500;
  width: 20px;
  margin-left: 10px;
}
.q_title_mobile_inner {
  padding-left: 10px;
  font-size: 20px;
  font-weight: 700;
  display: none;

}
@media screen and (max-width: 600px){
  .q_order {
    display: none;
  }
  .q_title_mobile_inner {
    display: block;
  }
}
.q_vote {
  width: 70px;
  padding-right: 15px;
  color: rgb(214,90,90);
  text-align: right;
  border-right: 1px solid rgb(220,220,220);
  margin-right: 5px;
}
.q_postmeta {
  width: 100%;
  padding-left: 10px;
  font-size: 14px;
}
a.q_postmeta {
  color: rgb(55,53,54);
}
a.q_postmeta:hover {
  color: #03A9F4;
}
.q_action {
  margin: 20px 10px;
}
.q_title_active {
  border-bottom: 1px solid rgb(220,220,220);
  padding-bottom: 15px;
  width: 100%;
}
.q_fixTitle {
  display: none;
}
.q_title_fixed {
  position: fixed;
  display: inline-block;
  top: 42px;

  /* center the element */
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;

  z-index: 90;
  height: 40px;

  background: transparent;

}
.q_title_fixed_inner {
  background: white;
  margin: 0px 1px;
  padding: 15px;
  border-bottom: 1px solid rgb(220,220,220);

  font-size: 18px;
  font-weight: 700;

}
.q_item {
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  margin-bottom: 1px;

  -moz-transition: .2s;
  -ms-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  transition-duration: .5s;

  padding: 10px;
  width: 100%;
  position: relative;

  background: white;
}
.q_item_active {
  margin: 10px auto;
  box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
}
.q_text {
  padding: 0px 20px 0px 10px;
}
.q_content {
  position: relative;
  padding-left: 15px;
}
.q_pending_candidates {
  margin: 20px auto;
}
.l_vtop {
  vertical-align: top;
}
.nav_item {
  cursor: pointer;
  padding: 0px 10px;
  margin-top: 5px;
}

a.button {
  -moz-transition: .2s;
  -ms-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  background: #26A69A;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
  color: #fff;
  display: inline-block;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 7px 14px;
  cursor: pointer;
  min-width: 70px;
  text-align: center;
}
a.button.unsign {
  /* background: #db4437; */
  min-width: 83px;
}
a.button.facebook{
  background: #0277BD;
}
/* ------------------------------------------------------------ */
/* Policy
/* ------------------------------------------------------------ */
.p_item {
  background: white;
  padding: 20px;

  -moz-transition: .2s;
  -ms-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  transition-duration: .5s;
}
.p_title {
  font-size: 20px;
  font-weight: 700;
  border-bottom: 1px solid rgb(220,220,220);
  padding-bottom: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
.p_actionicon {
  display: none;
}
.p_title:hover .p_actionicon{
  display: inline-block;

  -moz-transition: .2s;
  -ms-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  transition-duration: 1.5s;
}
.p_seeall {
  margin-left: 10px;
  color: #616161;
  cursor: pointer;
}
.p_seeall:hover {

  opacity: 0.8;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.p_preview {
  margin-top: 10px;

}
.p_preview_hide {
  height: 0px;
  overflow: hidden;

}
.p_fullcontent_hide{
  height: 0px;
  overflow: hidden;

  -moz-transition: .2s;
  -ms-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  transition-duration: 1.5s;

}

/* ------------------------------------------------------------ */
/* index / policy list
/* ------------------------------------------------------------ */
.c_item {
  background: white;
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 440px){
  .c_item {
    width: 100%;
    height: auto;
    min-height: 100px;
  }
}
.c_title {
  font-size: 22px;
  font-weight: 600;
}
/* ------------------------------------------------------------ */
/* sidebar
/* ------------------------------------------------------------ */

#sidebar-container{
  z-index: 400;
  width: 100%;
  height: 0px;
  overflow: hidden;
  background: white;
  position: absolute;
  text-align: center;
}
#sidebar-container.show{
  top: 50px;
  height: 100%;

}
a.nav_item_sidebar {
  display: block;
  padding: 10px;
  color: #009688;
  border-bottom: 1px solid rgb(240,240,240);

}
a.nav_item_sidebar:hover {
  background: rgb(220,220,220);
}

/* Required for Triangle */
.tri-up:before, .tri-up:after {
  content: "";
  position: absolute;
  left: 30px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-bottom: 0;
  z-index: 420;
}
/* Stroke */
.tri-up:before {
  top: 43px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  }
/* Fill */
.tri-up:after {
  top: 42px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}
.nav_list_toggle {
  position: absolute;
  cursor: pointer;
  top: 14px;
  left: 20px;
}

@media screen and (min-width: 600px){

  #sidebar-container{
    z-index: 99;
    width: 300px;
    height: 100%;
    background: white;
    position: absolute;
    top: 50px;
    left: -300px;
    box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
    text-align: left;

    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }
  #sidebar-container.show{
    top: 50px;
    left:0px;
    overflow: auto;
  }

}
.nav_list_function {
  position: absolute;
  top: 0px;
  right: 10px;

}
.nav_list_function_item {
  height: 50px;
  box-sizing: border-box;
  vertical-align: top;
  position: relative;
  width: 130px;
}
.nav_list_function_item_user {
  height: 50px;
  box-sizing: border-box;
  vertical-align: top;
  position: relative;
  width: 60px;
}

.nav_list_function_item_hide {
  opacity: 0;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.nav_list_function_item_inner {
  background: white;
  cursor: pointer;
  padding: 5px 10px 3px 5px;
  color: black;
  border-left: 5px solid white;
}
.nav_list_function_item_text {
  margin-top: 15px;
  vertical-align: top;
  display: inline-block;

}
.nav_list_function_item_tooltip {
  height: 40px;
  color: black;
  padding: 8px 10px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;

  background: white;
  box-shadow: 0 0 4px rgba(0,0,0,.08),0 4px 8px rgba(0,0,0,.16);
}
.nav_list_function_item_inner img {
  border-radius: 100%;
  height: 50px;
  width: 50px;
}
.nav_list_function_item_inner:hover{
  border-left: 5px solid gray;
}
.nav_list_function_item_select {
  cursor: pointer;
  padding: 15px 0px;
  height: 50px;
  width: 120px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}
.user_profile_image {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 2px;
  right: 10px;
}
@media screen and (max-width: 500px){
  #candidateTopMenu, #toggleCtrl{
     display: none;

  }
}
#toggleCtrl {
  position: absolute;
  right: 160px;
  top: 0px;

}
#candidateTopMenu {
  position: absolute;
  right: 30px;
  top: 0px;
}
#userMenu {
  position: absolute;
  right: 0px;
  top: 0px;
}
.nav_search {
  position: absolute;
  width: 100%;
  padding-left: 260px;
  padding-right: 350px;
  text-decoration: center;
  pointer-events: none;
}
.nav_search_inner {
  width: 100%;
  position: relative;
}
.nav_search_inner input {
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  padding-left: 30px;
  pointer-events: auto;
}
.nav_search_inner i{
  position: absolute;
  left: 10px;
  top:10px;
}
@media screen and (max-width: 800px){
  .nav_search {
     display: none;
  }
}
.nav_list_home {
  position: absolute;
  cursor: pointer;
  /* top: 20px; */
  top: 13px;
  left: 60px;
  font-weight: 700;
}
#watchout_nav_logo {
  width: 80px;
  position: absolute;
  top: -18px;
  left: 62px;

}

/* ------------------------------------------------------------ */
/* compose / ask question
/* ------------------------------------------------------------ */
.ask_prompt {
  background: #212121;
  color: white;
  position: fixed;
  right: 30px;
  bottom: 30px;
  padding: 10px;
  
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  box-sizing: content-box;
  z-index: 90;
  text-align: center;

}

.ask_item {
  background-color: #db4437;
  height: 56px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 56px;

  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  box-sizing: content-box;
  cursor: pointer;
  padding: 0;
  z-index: 90;
  text-align: center;

}
.ask_item:hover {
   box-shadow: 0 6px 6px rgba(0,0,0,.14),0 6px 16px rgba(0,0,0,.28);
}
.ask_icon {
  color: white;
  font-size: 30px;
  padding-top: 20px;
}

.ask_form {
  box-shadow: 0 0 4px rgba(0,0,0,.28),0 4px 8px rgba(0,0,0,.28);
  background: white;
  width: 500px;
  z-index: 99;
  position: fixed;
  right: 10px;
  bottom: 0px;

}
.ask_form_minimize {
  height: 40px;
}
.ask_form_title {
  background: #2196F3;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  font-weight: 700;
}
.ask_form_remove {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.ask_form_listitem {
  padding: 10px;
  border-bottom: 1px solid rgb(220,220,220);
}
.ask_form_subtitle {
  color: #2196F3;
  font-weight: 700;
  margin-right: 10px;
}
.ask_form_listitem input {
  width: 400px;
  border: 0;
}
.ask_form_content {
  height: 100%;

}
.ask_form_content textarea {
  width: 100%;
  min-height: 280px;
  padding: 10px;
  border: 0px;
  resize: none;
  box-sizing: border-box;
}
.ask_form_functions {
  padding: 10px;

}
.ask_form_functions .button {
  background: #2196F3;
}
.ask_form_functions .ask_form_trash {
  float: right;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (max-width: 600px){
  .ask_form {
    z-index: 400;
    width: 100%;
    height: 100%;
    right: 0px;
    overflow: hidden;
    background: white;
    position: fixed;

  }
  .ask_form_listitem input {
    width: 100%;
    border: 0;
  }
  .ask_form_subtitle {
    display: block;
  }
  .ask_form_content textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 0px;
    resize: none;
  }
  .ask_form_functions {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;

  }
}
/* ------------------------------------------------------------ */
/* index
/* ------------------------------------------------------------ */
.index_cover {
  box-sizing: border-box;
}
.index_cover img {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.color_white {
  background: white;
}
.page_section {
  background: url('../images/cover_banner.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 50px;
}
.index_section {
  position: relative;
  background: url('../images/cover.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 50%;
}
.index_content {
  width: 100%;
  position: relative;
  padding: 20px;
  z-index: 20;
  box-sizing: border-box;
  font-size: 18px;
  background: white;
  margin-bottom: 5px;
}
.index_maintitle {
  margin-bottom: 20px;
  border-bottom: 1px solid #BDBDBD;
  padding: 20px 0px;
}
.index_maintitle h1{
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
  
}
.index_maintitle h3{
  font-size: 20px;
  font-weight: 600;
  margin: 0px;
  text-align: center;
}
@media screen and (max-width: 500px){
  .index_maintitle h1, .index_maintitle h3{
    text-align: left;
  }

}
.index_title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.index_c_item {
  background: white;
  display: inline-block;
  cursor: pointer;
  width: 33%;
  margin: 1px;
  position: relative;
  text-align: center;
  height: 112px;
  padding-top: 30px;
  padding-left: 100px;

}
.index_c_item img {
  position: absolute;
  left: 0px;
  top: 0px;
}
.index_c_item_name {
  font-size: 30px;
  font-weight: 700;
  display: inline-block;
}

@media screen and (max-width: 700px){
  .index_c_item {
    width: 100%;
    height: 112px;
    padding-top: 30px;
  }
  
}

/* ------------------------------------------------------------ */
/* page button left & right
/* ------------------------------------------------------------ */
.page_button {
  cursor: pointer;
  position: fixed;
  top: 48%;
  font-size: 30px;
  z-index: 99;
}
.page_right {
  right: 10px;
}
.page_left {
  left: 10px;
}
@media screen and (max-width: 1000px){
  .page_button {
    opacity: 0;
  }
}
/* ------------------------------------------------------------ */
/* page button left & right
/* ------------------------------------------------------------ */
.notification_wrapper {
  position: absolute;
  top: 60px;
  left: 50%;
}
#notification {
  background: #212121;
  position: relative;
  left: -50%;
  border-radius: 10px;
  color: white;
  z-index: 99;
  font-weight: 800;
  padding: 20px;
  height: 65px;
  box-sizing: border-box;

}
.notification_hide {
  opacity: 0;
  -webkit-transition: opacity .2s cubic-bezier(.4,0,.2,1);
  transition: opacity .2s cubic-bezier(.4,0,.2,1); 
}
.notification_show {
  opacity: 0.8;
}

/* ------------------------------------------------------------ */
/* radio button / sorting menu
/* ------------------------------------------------------------ */
.question_menu_meta {
  font-size: 20px;
  font-weight: 700;
}
.question_menu {
  position: relative;
  padding: 5px 10px 10px 10px;
}
.sorting_menu {
  position: absolute;
  top: 0px;
  right: 0px;
}
.radio {
  display: inline-block;
  padding-right: 20px;
  cursor: pointer;
  position: relative;
  width: 100px;
}
.radio_text {
  position: absolute;
  top: 10px;
  left: 40px;
  font-size: 14px;
}
/* Native input control and checked events */
.radio input {
  opacity: 0; 
}
.radio input:checked + .outer { 
  border: 2px solid #009688;
}
.radio input:focus + .outer .inner {
  opacity: 1;  
  -webkit-transform: scale(1);
  transform: scale(1);
  
}
.radio input:checked + .outer .inner {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);

} 
/* Outer ring of custom radio */
.outer {
  width: 20px;
  height: 20px;
  display: block;
  float: left;
  margin: 10px 9px 10px 10px;
  border: 2px solid #009688;
  border-radius: 50%;
  
}
/* Inner ring of custom radio */
.inner {
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  width: 12px;
  height: 12px;
  display: block;
  margin: 2px;
  border-radius: 50%;
  background-color: #009688;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.radio:hover .inner {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  
}

/* ------------------------------------------------------------ */
/* question bottom "more" function
/* ------------------------------------------------------------ */
.question_bottom {
  text-align: center;
  margin: 20px auto;
}
.question_bottom a.button {
  color: #424242;
  background: white;
  width: 100px;
}

/* ------------------------------------------------------------ */
/* slider
/* ------------------------------------------------------------ */

.slider_wrap { 
  position:relative;
  display: inline-block;
  margin-top: 18px;
  margin-right: 30px;
}
.slider_wrap input { 
  position: absolute;
  opacity: 0;
}
.slider {
  position: relative; 
  display: block;
  width: 2.5em; 
  height: 1em;
  cursor: pointer;
  border-radius: 1.5em;
  transition: 300ms;
  background: #00695C;
  
}
/* active base */
input:checked + .slider {
  background: #ECEFF1;
  
}
/* toggle button */
.slider::before {
  position: absolute; 
  content:'';
  width: 1.4em; height: 1.4em;
  top: -0.2em; left: -0.3em;
  border-radius: 50%;
  transition: 200ms ease-in-out;
  background: #26A69A;
  box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);

}
.slider:hover::before {
  box-shadow: 0 0px 6px rgba(0,0,0,.12),0 4px 6px rgba(0,0,0,.24);
}
/* active button */
.slider::after {
  position: absolute; 
  border-radius: 50%;
  transition: 200ms ease-in;
}
input:checked + .slider::before {
  left: 1.4em;
  background: white;
}
.slider_wrap label, .slider_wrap label::before, .slider_wrap label::after{
  color: black;
  z-index: 190;

}

/* ------------------------------------------------------------ */
/* how to ask
/* ------------------------------------------------------------ */
.article_highlight {
  font-weight: 700;
}
.article_img {
  width: 200px;
}
.good_example {
  border-left: 10px solid #4CAF50;
  padding: 5px 10px;
  margin-bottom: 2px;
  background: white;
  box-shadow: 0 0 6px rgba(0,0,0,.16),0 2px 6px rgba(0,0,0,.16);
  
}
.bad_example {
  border-left: 10px solid #F44336;
  padding: 5px 10px;
  background: white;
  margin-bottom: 2px;
  box-shadow: 0 0 6px rgba(0,0,0,.16);
  
}
.quote {
  border-left: 10px solid rgb(100,100,100);
  padding: 5px 10px;
  box-shadow: 0 0 6px rgba(0,0,0,.16),0 2px 6px rgba(0,0,0,.16);
}

/* ------------------------------------------------------------ */
/* iframe
/* ------------------------------------------------------------ */
@media screen and (max-width: 540px){
  iframe {
    width: 100%;
    height: 220px;
  }
}
