@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

body {
  /* font-family: "Open Sans","Helvetica Neue", "Helvetica", "Arial", sans-serif; */
  font-family: "Source Han Sans TC", "Noto Sans", "微軟正黑體", Helvetica, Arial, sans-serif;
  background: rgb;
  margin: 0px;
  padding: 0px;
  text-rendering: optimizeLegibility;
  min-width: 320px;
  background: rgb(236,236,236);
  color: rgb(55,53,54);
  font-size: 16px;

}
a {
  text-decoration: none;
  color: rgb(0,191,198);
}
@media screen and (min-width: 1000px){
  .wrapper{
     width: 1000px;
  }
  .nav{
    max-width:1000px;
    margin:0 auto;
  }
}
@media screen and (max-width: 1000px){
  .nav{
     width: 100%;
  }
}
@media (max-width: 400px){
  .wrapper{
     width: 100%;
  }
  .nav{
     width: 100%;
  }
}
.page_wrapper {
  background: white;
  height: 100%;
}
.wrapper {
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  padding:8px;
  box-sizing: border-box;
  position: relative;
  background: rgb(236,236,236);

}

#content {
	margin-top: 50px;
}


/* ------------------------------------------------------------ */
/* material test
/* ------------------------------------------------------------ */

header {
  z-index: 100;
  background: #009688;
  color: white;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0px;
  box-sizing: border-box;
  padding: 6px;

}
.fs {
  background: #4DB6AC;
  border: none;
  box-sizing: border-box;
  color: #fff;
  font-size: 1.2em;
  height: 36px;
  width: 180px;
  border-radius: 5px;
  padding-left: 10px;
  margin-right: 10px;
}
input{
  outline: none;
}

.l_inline {
  display: inline-block;
}
.l_center {
  text-align: center;
}
.v_top {
  vertical-align: top;
}
.q_title{
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;

  width: 100%;
  overflow: hidden;

  text-align: left;
  background: white;
  padding-top: 6px;
  cursor: pointer;

  font-size: 16px;
  font-weight: 700;

  /* padding-right: 60px; */
  /* This only needed for functional buttons */

}
.q_function {
  display: none;
}
.q_item:hover .q_function{
  display: inline-block;
  z-index: 99;

}
.q_order {
  font-weight: 500;
  width: 20px;
  margin-left: 10px;
}
.q_title_mobile_inner {
  padding-left: 10px;
  font-size: 20px;
  font-weight: 700;
  display: none;

}
@media screen and (max-width: 600px){
  .q_order {
    display: none;
  }
  .q_title_mobile_inner {
    display: block;
  }
}
.q_vote {
  width: 70px;
  padding-right: 15px;
  color: rgb(214,90,90);
  text-align: right;
  border-right: 1px solid rgb(220,220,220);
  margin-right: 5px;
}
.q_postmeta {
  width: 100%;
  padding-left: 10px;
  font-size: 14px;
  margin-bottom: 20px;

}
.q_action {
  margin: 20px 10px;
}
.q_title_active {
  border-bottom: 1px solid rgb(220,220,220);
  padding-bottom: 15px;
  width: 100%;
}
.q_fixTitle {
  display: none;
}
.q_title_fixed {
  position: fixed;
  display: inline-block;
  top: 42px;

  /* center the element */
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;

  z-index: 90;
  height: 40px;

  background: transparent;

}
.q_title_fixed_inner {
  background: white;
  margin: 0px 1px;
  padding: 15px;
  border-bottom: 1px solid rgb(220,220,220);

  font-size: 18px;
  font-weight: 700;

}
.q_item {
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  margin-bottom: 1px;

  -moz-transition: .2s;
  -ms-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  transition-duration: .5s;

  padding: 10px;
  width: 100%;
  position: relative;

  background: white;
}
.q_item_active {
  margin: 10px auto;
  box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
}
.q_text {
  padding: 0px 20px 0px 10px;
}
.q_content {
  position: relative;
  padding-left: 15px;
}
.q_pending_candidates {
  margin: 20px auto;
}
.l_vtop {
  vertical-align: top;
}
.nav_item {
  cursor: pointer;
  padding: 0px 10px;
  margin-top: 5px;
}

a.button {
  -moz-transition: .2s;
  -ms-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  background: #26A69A;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
  color: #fff;
  display: inline-block;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 7px 14px;
  cursor: pointer;
  min-width: 70px;
  text-align: center;
}
a.button.facebook{
  background: #0277BD;
}
/* ------------------------------------------------------------ */
/* Policy
/* ------------------------------------------------------------ */
.p_item {
  background: white;
  padding: 20px;

  -moz-transition: .2s;
  -ms-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  transition-duration: .5s;
}
.p_title {
  font-size: 20px;
  font-weight: 700;
  border-bottom: 1px solid rgb(220,220,220);
  padding-bottom: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
.p_actionicon {
  display: none;
}
.p_title:hover .p_actionicon{
  display: inline-block;

  -moz-transition: .2s;
  -ms-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  transition-duration: 1.5s;
}
.p_seeall {
  margin-left: 10px;
  color: #616161;
  cursor: pointer;
}
.p_seeall:hover {

  opacity: 0.8;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.p_preview {
  margin-top: 10px;

}
.p_preview_hide {
  height: 0px;
  overflow: hidden;

}
.p_fullcontent_hide{
  height: 10px;
  overflow: hidden;

  -moz-transition: .2s;
  -ms-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  transition-duration: 1.5s;

}
.pa_totalq {
  margin: 10px;
  font-size: 20px;
  font-weight: 700;
}
/* ------------------------------------------------------------ */
/* index / policy list
/* ------------------------------------------------------------ */
.c_item {
  background: white;
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 440px){
  .c_item {
    width: 100%;
    height: auto;
    min-height: 100px;
  }
}
.c_title {
  font-size: 22px;
  font-weight: 600;
}
/* ------------------------------------------------------------ */
/* sidebar
/* ------------------------------------------------------------ */

#sidebar-container{
  z-index: 400;
  width: 100%;
  height: 0px;
  overflow: hidden;
  background: white;
  position: absolute;
  text-align: center;
}
#sidebar-container.show{
  top: 50px;
  height: 100%;

}
a.nav_item_sidebar {
  display: block;
  padding: 10px;
  color: #009688;
  border-bottom: 1px solid rgb(240,240,240);

}
a.nav_item_sidebar:hover {
  background: rgb(220,220,220);
}

/* Required for Triangle */
.tri-up:before, .tri-up:after {
  content: "";
  position: absolute;
  right: 18px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-bottom: 0;
  z-index: 420;
}
/* Stroke */
.tri-up:before {
  top: 43px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  }
/* Fill */
.tri-up:after {
  top: 42px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}
.nav_list_toggle {
  position: absolute;
  cursor: pointer;
  top: 14px;
  left: 20px;
}
.nav_list_logo {
  position: absolute;
  cursor: pointer;
  top: 14px;
  left: 60px;
  font-weight: 700;
}
@media screen and (min-width: 600px){

  #sidebar-container{
    z-index: 99;
    width: 300px;
    height: 100%;
    background: white;
    position: absolute;
    top: 50px;
    left: -300px;
    box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
    text-align: left;

    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }
  #sidebar-container.show{
    top: 50px;
    left:0px;
    overflow: auto;

  }

}
.nav_list_function {
  position: absolute;
  top: 0px;
  right: 10px;

}
.nav_list_function_item {
  height: 50px;
  box-sizing: border-box;
  vertical-align: top;

}
.nav_list_function_item_hide {
  height: 80%;
  opacity: 0;
}
.nav_list_function_item_inner {
  margin-left: 25px;
  margin-top: 5px;
  color: black;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.nav_list_function_item_tooltip {
  height: 40px;
  color: black;
  padding: 8px 10px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  background: white;
  box-shadow: 0 0 4px rgba(0,0,0,.08),0 4px 8px rgba(0,0,0,.16);
}
.nav_list_function_item_inner img {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);

}
.nav_list_function_item_inner:hover img {
  box-shadow: 0 4px 10px rgba(0,0,0,.16),0 8px 14px rgba(0,0,0,.32);
}
.nav_list_function_item_select {
  cursor: pointer;
  padding: 15px 15px;
  height: 50px;

}

/* ------------------------------------------------------------ */
/* compose / ask question
/* ------------------------------------------------------------ */

.ask_item {
  background-color: #db4437;
  height: 56px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 56px;

  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  box-sizing: content-box;
  cursor: pointer;
  padding: 0;
  z-index: 90;
  text-align: center;

}
.ask_item:hover {
   box-shadow: 0 6px 6px rgba(0,0,0,.14),0 6px 16px rgba(0,0,0,.28);

}
.ask_icon {
  color: white;
  font-size: 30px;
  padding-top: 20px;
}
.ask_form {
  box-shadow: 0 0 4px rgba(0,0,0,.28),0 4px 8px rgba(0,0,0,.28);
  background: white;
  width: 500px;
  z-index: 99;
  position: fixed;
  right: 10px;
  bottom: 0px;

}
.ask_form_title {
  background: #2196F3;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  font-weight: 700;
}
.ask_form_remove {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.ask_form_listitem {
  padding: 10px;
  border-bottom: 1px solid rgb(220,220,220);
}
.ask_form_subtitle {
  color: #2196F3;
  font-weight: 700;
  margin-right: 10px;
}
.ask_form_listitem input {
  width: 400px;
  border: 0;
}
.ask_form_content {
  height: 100%;

}
.ask_form_content textarea {
  width: 100%;
  min-height: 280px;
  padding: 10px;
  border: 0px;
  resize: none;
  box-sizing: border-box;
}
.ask_from_functions {
  padding: 10px;

}
.ask_from_functions .button {
  background: #2196F3;
}
@media screen and (max-width: 600px){
  .ask_form {
    z-index: 400;
    width: 100%;
    height: 100%;
    right: 0px;
    overflow: hidden;
    background: white;
    position: fixed;

  }
  .ask_form_listitem input {
    width: 100%;
    border: 0;
  }
  .ask_form_subtitle {
    display: block;
  }
  .ask_form_content textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 0px;
    resize: none;
  }
  .ask_form_functions {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;

  }
}
/* ------------------------------------------------------------ */
/* index
/* ------------------------------------------------------------ */
.index_cover {
  width: 100%;
}
.color_yellow {
  background: #FFEB3B;
}
.color_white {
  background: white;
}
.index_title {
  font-size: 20px;
  font-weight: 700;
}
.index_c_item {
  background: white;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  margin: 5px;
}
/* ------------------------------------------------------------ */
/* page button left & right
/* ------------------------------------------------------------ */
.page_button {
  cursor: pointer;
  position: fixed;
  top: 48%;
  font-size: 30px;
  /* z-index: 99; if mobile*/
}
.page_right {
  right: 10px;
}
.page_left {
  left: 10px;
}
