<div id="footer">
    <div class="footer_link">
    <ul>
        <li class="footer_text"><a href="#/terms">使用條款</a></li>
        <li class="footer_text"><a href="#/how-to-ask">發問指南</a></li>
        <li class="footer_text"><a href="#/contact">聯絡我們</a></li>
    </ul>
    </div>
    <div class="footer_logo">
    <ul>
        <li class="footer_img"><a href="http://goo.gl/2vlnVR" target="_new"><img id="footer_apple" src="images/apple_logo.png"></a></li>
        <li class="footer_img"><a href="http://goo.gl/du71aO" target="_new"><img id="footer_watchout" src="images/watchout_logo_black.png"></a></li>
        <li class="footer_img"><a href="http://goo.gl/LB3KC9" target="_new"><img src="images/google_logo_color.png"></a></li>
    </ul>
    </div>
</div>