<div id="footer">
    <div class="footer_link">
    <ul>
        <li class="footer_text"><a href="#/terms">使用條款</a></li>
        <li class="footer_text"><a href="#/how-to-ask">發問指南</a></li>
        <li class="footer_text"><a href="#">聯絡我們</a></li>
    </ul>
    </div>
    <div class="footer_logo">
    <ul>
        <li class="footer_img"><img id="footer_apple" src="images/apple_logo.png"></li>
        <li class="footer_img"><img id="footer_watchout" src="images/watchout_logo_black.png"></li>
        <li class="footer_img"><img src="images/google_logo_color.png"></li>
    </ul>
    </div>
</div>