<div ng-controller="AuthCtrl">


<div ng-include="'partials/nav.html'" ng-controller="NavCtrl"></div>

<!-- LEFT & RIGHT BUTTON -->
<div class="page_button page_left" ng-click="previousPolicy()"><i class="fa fa-chevron-left"></i></div>
<div class="page_button page_right" ng-click="nextPolicy()"><i class="fa fa-chevron-right"></i></div>
<!-- . . . . . . . . . . . . -->

<div id="content" ng-click="resetFocus()">
  <div id="page_content">
  <!-- Policy -->
  <div class="wrapper" id="policy">
      <div><h2>{{candidate.name}}的政見</h2></div>
      <!-- POLICY -->
      <div class="md-whiteframe-z1 p_item" ng-if="policy" ng-click="$event.stopPropagation()">
          <div class="p_title" ng-click="togglePolicy()">
            {{currentPolicy.indexTitle}} {{currentPolicy.title}}
            <div class="p_actionicon l_inline" ng-if="!showPolicy()"><i class="fa fa-angle-double-down"></i></div>
            <div class="p_actionicon l_inline" ng-if="showPolicy()"><i class="fa fa-angle-double-up"></i></div>

          </div>
          <div ng-class="{'p_preview':!showPolicy(),'p_preview_hide':showPolicy()}">{{currentPolicy.content | htmlToPlaintext| limitTo:200}}{{(currentPolicy.content | htmlToPlaintext).length>200?'...':''}}<span class="p_seeall" ng-click="togglePolicy()">（繼續閱讀）</span>
          </div>

          <div ng-class="{'p_fullcontent_hide':!showPolicy()}">
              <div ng-bind-html="toTrusted(currentPolicy.content)"></div>

          </div>
          <div class="l_center"><span class="p_seeall" ng-click="togglePolicy()" ng-if="showPolicy()"><i class="fa fa-angle-double-up"></i> 摺疊</span></div>
      </div>

      <span ng-if="!candidate.due">
          <!-- ASK QUESTION -->
          <div class="ask_item" ng-click="toogleAskQuestionForm()" ng-if="user&&!liveAskQuestionForm"><i class="fa fa-plus ask_icon"></i></div>

          <!-- ASK QUESTION (未登入)-->
          <div class="ask_item" ng-click="showLoginTip()" ng-if="!user"><i class="fa fa-plus ask_icon"></i></div>
      </span>

      <!-- ASK QUESTION FORM -->
      <div class="ask_form" ng-class="{'ask_form_minimize':!showAskQuestionForm}" ng-if="liveAskQuestionForm">
          <div class="ask_form_title"><i class="fa fa-paper-plane-o"></i> 對{{candidate.name}}的政策提問：
              <div class="ask_form_remove" ng-click="toogleAskQuestionForm()"><i class="fa fa-minus"></i></div>
          </div>
          <div class="ask_form_listitem"><span class="ask_form_subtitle">提問政策</span>{{currentPolicy.title}}</div>
          <div class="ask_form_listitem">
            <span class="ask_form_subtitle">問題簡述</span>
            <input placeholder="請在此輸入簡短清楚的問題簡述">
          </div>

          <div class="ask_form_content">
              <textarea placeholder="問題說明：您可以在此進一步說明您的問題"></textarea>
              <div class="ask_form_functions">
                <a class="button"><i class="fa fa-bullhorn"></i> 送出</a>
                <span class="ask_form_trash" ng-click="deleteAskQuestionForm()"><i class='fa fa-trash-o'></i></span>
              </div>
          </div>
      </div>
  </div>
  <!-- Question -->
  <div class="wrapper">
  
  <div class="question_menu">
      <div class="question_menu_meta">共有 {{(questions | filter:query).length}} 題</div>
      
      <div class="sorting_menu">
          <label class="radio" ng-click="order='signatures_count'">
             <input id="radio1" type="radio" name="radios" checked>
             <span class="outer"><span class="inner"></span></span>
             <span class="radio_text">票數排序</span>
          </label>
          <label class="radio" ng-click="order='post_timestamp'">
          <input id="radio2" type="radio" name="radios" >
             <span class="outer"><span class="inner"></span></span>
             <span class="radio_text">時間排序</span>
          </label>
      </div>
  </div>
  <div ng-repeat="q in questions | filter:query | orderBy: order : true" ng-class="{'md-whiteframe-z1':showQuestion(q.id),'q_item_active':showQuestion(q.id)}" class="q_item" ng-click="$event.stopPropagation()" ng-hide="signFilter && !hasSigned(q.id)" id="q_{{q.id}}" >

    <div class="q_title l_inline" ng-class="{'q_title_active':showQuestion(q.id)}" ng-click="toggleQuestion(q.id)">
      <div class="q_order l_inline">{{$index+1}}</div>
      <div class="q_vote l_inline">{{q.signatures_count | number:0}}</div>
      {{q.title | limitTo:40}}{{(q.title).length>40?'...':''}}

    <!-- function tab goes here -->
        <div class="q_function l_inline">
          <span ng-if="!showQuestion(q.id)"><i class="fa fa-angle-double-down"></i></span>
          <span ng-if="showQuestion(q.id)"><i class="fa fa-angle-double-up"></i></span>
        </div>
    <!-- ...................... -->
        <span class="q_function_sign" ng-class="{'q_function_signed':hasSigned(q.id),'q_function_unsigned':!hasSigned(q.id)}"><i class="fa fa-bullhorn"></i> </span>
     <!-- ...................... -->
    </div>

    <div class="q_content" ng-if="showQuestion(q.id)">
        <div class="q_title_mobile_inner">{{q.title}}</div>
        <p class="q_text" ng-repeat="p in q.content">{{p}}</p>
        <div class="q_postmeta">提問人：someid / 提問時間：{{q.post_timestamp | date:'MM-dd hh:mm'}}</div>
        <div class="q_action">
            <span ng-if="!candidate.due">
            <a class="button unsign" ng-click="sign(q.id)" ng-hide="hasSigned(q.id)"><i class="fa fa-bullhorn"></i> 連署</a>
            <a class="button" ng-show="hasSigned(q.id)"><i class="fa fa-bullhorn"></i> 已連署</a>
            </span>
            <a class="button facebook"><i class="fa fa-facebook"></i> 分享</a>
        </div>

    </div>
  </div>
  
  <div class="question_bottom">
     <a class="button"><i class="fa fa-bullhorn"></i> 更多</a>
  </div>
  </div><!-- wrapper -->
  </div>
<div ng-include="'partials/footer.html'"></div>
</div><!-- content -->
</div><!-- Auth -->
